.navbar{
    border-radius: 50px;
}

.links-container{
    display: flex;
    justify-content: space-between;
    padding:0 2rem;
    list-style: none;
}

.link:visited, .link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
}

.list{
    position: relative;
}

.active{
    transform: translateY(15px);
    background-color: transparent;
}

/* HTML: <div class="rounded-tab"></div> */
.rounded-tab {
    opacity: 0;
    --r: 10px; /* control the radius */
  
    line-height: 1.8; /* control the height */
    padding-inline: .5em;
    border-inline: var(--r) solid #0000;
    border-radius: calc(2*var(--r)) calc(2*var(--r)) 0 0/var(--r);
    mask: 
      radial-gradient(var(--r) at var(--r) 0,#0000 98%,#000 101%)
        calc(-1*var(--r)) 100%/100% var(--r) repeat-x,
      conic-gradient(#000 0 0) padding-box;
    background: border-box; /* border-box is needed for a gradient coloration */
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease;
    z-index: -1;
  }

.active-tab{
    opacity: 1;
    z-index: 0;
}

.description{
    position: absolute;
    bottom: -2.25rem;
    left: 0.75rem;
    padding: 0.125rem 0.25rem;
    border-radius: 5px;
}